:root {
  --primary-color: #f4f4f4;
  --secondary-color: #333;
  --tertiary-color: #764ba2;
  --bg-header: #222;
  --bg-cards: #ffffff;
  --bg-icons: #3282d7;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    segoe ui,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    open sans,
    helvetica neue,
    sans-serif;
}

body {
  background-color: var(--bg-header);
  color: var(--primary-color);
  line-height: 1.6;
  letter-spacing: 0.5px;
  overscroll-behavior: contain;
}

header {
  padding: 1rem;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 13dvh;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: rgba(18, 18, 18, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--bg-cards);
}

:is(.projects, .contact, .about) h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.logo a {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
}

.nav-links a:hover {
  color: var(--bg-icons);
}

.about,
.projects,
.contact {
  padding: 10% 5%;
  text-align: center;
}

.hero {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--bg-cards);
}

.hero-content {
  height: 100dvh;
  margin-top: 40dvh;
  z-index: 5;
  text-align: left;
  color: var(--primary-color);
}

.hero-content h1 {
  padding: 20px 20px 20px 20px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
}

.hero-content p {
  color: var(--bg-icons);
}

.job-title {
  font-size: 1.8rem;
  padding: 10px 20px 10px 20px;
  font-weight: 400;
}

.stack-text {
  font-size: 1.2rem;
  padding: 0px 20px 30px 20px;
  font-weight: 100;
}

.hero-content .btn {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 20px;
  padding: 0.5rem 1rem;
  background-color: var(--bg-icons);
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 400;
  border-radius: 50px;
  transition: 0.2s ease;
}

.hero-content .btn:hover {
  background-color: var(--bg-icons);
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.3);
  color: var(--primary-color);
  transform: scale(1.02);
  cursor: pointer;
  border: solid 2px var(--primary-color);
}

#about {
  padding-top: 15dvh;
  display: grid;
  min-height: 100dvh;
}

.textBox-mobileView {
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.3);
  padding: 10px;
  margin-top: 20px;
}

.about h2 {
  margin-top: 20px;
}

.about p {
  padding: 5px 10px 5px 10px;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 300;
  line-height: 1.6;
}

.about-illustration {
  display: none;
}

.strong {
  color: var(--bg-icons);
  font-weight: 600;
}

.projects {
  padding-top: 15dvh;
  min-height: 100dvh;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  gap: 1.5rem;
  margin-top: 5dvh;
}

.project-card {
  background: var(--bg-cards);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.3);
  border-radius: 8px;
}

.project-card img {
  width: 100%;
  height: auto;
  object-fit: fill;
  overflow: hidden;
  border-radius: 8px;
}

.project-btn {
  min-width: 60%;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border-radius: 50px;
  background: #3282d7;
  border: solid 2px #3282d7;
  text-decoration: none;
  color: var(--secondary-color);
  color: var(--primary-color);
  transition: 0.2s ease;
  font-weight: 600;
}

.project-btn:hover {
  background-color: var(--bg-icons);
  border: solid 2px var(--primary-color);
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.3);
  color: var(--bg-cards);
  color: var(--primary-color);
  transform: scale(1.02);
  cursor: pointer;
}

/* CONTACTO */
.iconsDiv {
  width: 50%;
  font-size: 16px;
  display: flex;
  gap: 35px;
  margin: 35px auto 25px auto;
  justify-content: center;
}

.socialIcono {
  font-size: 35px;
  height: 1.3em;
  width: 1.3em;
  color: #ffffff7e;
  transition: transform 0.3s ease;
}

.socialIcono:hover {
  color: var(--bg-icons);
  transform: scale(1.3);
}

.contact a {
  color: #ffffff7e;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.contact a:hover {
  color: var(--bg-icons);
}

footer {
  background: var(--bg-header);
  color: var(--bg-cards);
  text-align: center;
  padding: 1rem;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
  cursor: pointer;
}

/*  VERSIÓN DESKTOP  */
@media (min-width: 769px) {
  header {
    height: 11dvh;
  }

  .about,
  .projects,
  .contact {
    padding: 10% 10%;
    text-align: center;
  }

  .hero-content {
    height: 78dvh;
    margin-top: 25dvh;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .job-title {
    font-size: 3.5rem;
  }

  .stack-text {
    font-size: 1.8rem;
  }

  .hero-content .btn {
    padding: 0.5rem 1rem;
    border: solid 2px var(--bg-icons);
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 50px;
    transition: 0.2s ease;
    margin-left: 20px;
  }

  #about {
    padding-top: 10%;
    place-items: center;
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 20px;
  }

  #about h2 {
    grid-column: 2/3;
    justify-self: center;
    align-self: last baseline;
  }

  .textBox-mobileView {
    border: none;
    box-shadow: none;
    margin-top: 0px;
  }

  .about p {
    font-size: 1.3rem;
    font-weight: 200;
    text-align: left;
    padding: 0px 0px 0px 40px;
  }

  .about-illustration {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .circle-frame {
    width: 400px; /* Ajustá el tamaño a tu gusto */
    height: 400px;
    border-radius: 50%; /* Esto lo hace circular */
    border: 4px solid #3282d7; /* El color azul de tus destacados */
    overflow: hidden; /* Corta la imagen para que no se salga del círculo */
    background-color: #2a2a2a; /* Un gris oscuro para que resalte la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.3); /* Un brillo azul suave */
  }

  .circle-frame img {
    width: 90%;
    height: auto;
    object-fit: contain;
  }

  .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .project-card {
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .project-card:hover {
    transform: scale(1.02);
  }

  .project-btn {
    min-width: 50%;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    border-radius: 50px;
    background: #3282d7;
    text-decoration: none;
    color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.2s ease;
    font-weight: 400;
    border: solid 2px #3282d7;
  }
  .project-btn:hover {
    background-color: var(--bg-icons);
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.3);
    color: var(--bg-cards);
    color: var(--primary-color);
    transform: scale(1.02);
    cursor: pointer;
    border: solid 2px var(--primary-color);
  }

  #contact {
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--bg-cards);
  }

  .iconsDiv {
    width: 50%;
    font-size: 16px;
    display: flex;
    gap: 50px;
    margin: 35px auto 25px auto;
    justify-content: center;
  }

  .socialIcono {
    font-size: 35px;
    height: 1.3em;
    width: 1.3em;
    color: #ffffff7e;
    transition: transform 0.3s ease;
  }

  .socialIcono:hover {
    color: var(--bg-icons);
    transform: scale(1.3);
  }
}
